@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "InstrumentSansRegular";
  src: url("../../public/assets/fonts/static/InstrumentSans-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "InstrumentSansBold";
  src: url("../../public/assets/fonts/static/InstrumentSans-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "InstrumentSansSemiBold";
  src: url("../../public/assets/fonts/static/InstrumentSans-SemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Nayuki";
  src: url("../../public/assets/fonts/static/nayuki.28a6a2339baca9cb6372.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../../public/assets/fonts/static/Outfit-VariableFont_wght.00c2ed1a3bf798b0da27.ttf");
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}
